{{!-- views/auth/signup.hbs --}}
<div class="mb-3">

    <form action="/auth/signup" method="POST">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
        <h2>Tu nombre de usuario</h2>
            <input type="text" class="form-control"  name="username" placeholder="dianaegc" />
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
        <h2>Tu Email</h2>
            <input type="email" class="form-control" name="email" placeholder="dianaegc@gmail.com" />
            </div>
<div class="mb-3">
        <h2>Escribe una contraseña</h2>
        <label for="exampleFormControlTextarea1" class="form-label"></label>
            <input type="password"class="form-control" name="password" placeholder="dianaegc" />
</div>

       <div>
 <button type="submit" class="btn-outline-info">
      Crear cuenta
    </button>
</div>

    </form>

</div>